.picture {
    width: 50%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}
.container {
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(50deg, #f8f8f8, #5067aa, #86a6de, #324f7b);
    margin: 0 auto;
  }

.child{
    width:auto;
  
    
}

.link{
    color:white;
    width:100%;
    background:red;
   border-radius:5px;
    margin-right:50px;
    display:inline-block;
    box-sizing:border-box;
    border:none;
    overflow:hidden;
    padding: 6px;
}


.children{
    width:auto;
}

.info{
    color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.mother{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff5959, #fad05a, #49beb6, #075f63);
    border-radius: 10px;
    margin: 0 auto;
}

.instagram{
    color:white;
    width:100%;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
   border-radius:5px;
    margin-right:50px;
    padding: 3px;
    overflow: hidden;
    box-sizing: border-box;
    border: none;
    
}

.tiktok{
    color:white;
    width:100%;
    background: linear-gradient(
    180deg,
    #ff0050 0%, 
    #000000 50%, 
    #00f2ea 100%);
   border-radius:5px;
    margin-right:50px;
    /* display:inline-block; */
    box-sizing:border-box;
    border: none;
    overflow: hidden;
    padding: 3px;
    outline: none;
}

.fesbuk{
    color:white;
    width:100%;
 background: #1877f2;
   border-radius:5px;
    margin-right:50px;
    display:inline-block;
    box-sizing:border-box;
    border:none;
    overflow:hidden;
    padding: 3px;
}

.cash{
    color:white;
    width:100%;
    background: hsl(115, 95%, 42%);
   border-radius:5px;
    margin-right:50px;
    display:inline-block;
    box-sizing:border-box;
    border:none;
    overflow:hidden;
}

.father{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  
   

}

.judul{   
    background-color: #00f2ea;
}

.text{
    text-align: center;
}

@media (max-width: 768px) {
    .mother {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
  
    .father {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 10px;
    }
  
    .container {
      width: 90%;
      margin: 10px 0;
    }
  
    .info {
      font-size: 18px;
    }
  
    .link,
    .instagram,
    .tiktok,
    .fesbuk {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }